.quoteContainer {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
}

.centered > p {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(50px, 2.5vw, 2rem);
}

.centered {
    width: 1000px;
    height: auto;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.autor > p {
    font-style: italic;
    float: right;
}

.intro {
    /*background-color: rgb(88, 88, 88);*/
    width: 77%;
    height: auto;
    display: flex;

}

.portrait {
    width: 500px;
    height: 600px;
    margin: 20px;

    background-image: url(../img/My\ Head-shot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.introText {
    /*background-color: rgb(88, 88, 88);*/
    width: 55%;
    height: auto;
    padding: 20px;
}

.rightAlign {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;

    /*background-color: rgb(88, 88, 88);*/
}

.leftAlign {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    margin-left: 5%;

    /*background-color: rgb(88, 88, 88);*/
}

.universityImage {
    width: 700px;
    height: 600px;
    margin: 20px;
    background-image: url(../img/StudentCampusIllustration.jpg);

    background-size: cover;
    background-repeat: no-repeat;
}

.nextLevelImage {
    width: 950px;
    height: 500px;
    margin: 20px;
    background-image: url(../img/Next\ Level\ Schools.jpg);

    background-size: cover;
    background-repeat: no-repeat;
}

.successImage {
    width: 600px;
    height: 600px;
    margin: 20px;
    background-image: url(../img/SuccessImage.png);

    background-size: cover;
    background-repeat: no-repeat;
}

.polishImage {
    width: 450px;
    height: 600px;
    margin: 20px;
    background-image: url(../img/PolishingWork2.png);

    background-size: cover;
    background-repeat: no-repeat;
}

.workingImage {
    width: 700px;
    height: 600px;
    margin: 20px;
    background-image: url(../img/jobApply.png);

    background-size: cover;
    background-repeat: no-repeat;
}

.universityText {
    /*background-color: rgb(88, 88, 88);*/
    width: 55%;
    height: auto;
    padding: 20px;
}

.beforeAfter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
}

.before, .after {
    width: 50%;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(201, 201, 201);
    box-shadow: 5px 10px 8px #88888860;

    transition: 200ms;
    transition-timing-function: ease-in-out;
}

.before:hover, .after:hover {
    background-color: rgb(204, 192, 30);
    z-index: 2;
    width: 100%;
    transition: 200ms;
    transition-timing-function: ease-in-out;
}

.projectContainer {
    width: 100%;
    height: auto;
    padding: 3% 3% 0 3%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.projectCard {
    width: 400px;
    aspect-ratio: 1/1;

    display: flex;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #88888860;

    background-color: rgb(224, 224, 224);
}

.projectCard > img {
    inline-size: 100%;
    object-fit: cover;
}

.titleDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 88.1%;
    height: 25%;
    background-color: rgba(88, 88, 88, 0.5);
}

.githubContainer {
    width: 100%;
    height: auto;
    padding: 3%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.outerContainer {
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerContainer {
    width: 300px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 5px 10px 8px #88888860;

    background-color: rgb(224, 224, 224);
}

.contactMe {
    width: 250px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;

    background-color: aliceblue;
    border-radius: 50px;
    border: #38c90c60 8px solid;
    box-shadow: 3px 5px 3px #17740460;
}

.backUpContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backUpBox {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.backUpBox > img {
    width: 20px;
}

.contactFormContainer {
    position: fixed;
    width: 100%;
    height: 100%;

    display: none;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    background-color: rgba(88, 88, 88, 0.5);
}

.contactFormBox {
    width: 40%;
    height: 80%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    background-color: #f5f5f5;
    z-index: 999;
}

input, textarea {
    border: 1px solid #111;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: aliceblue;
    font-size: 16px;
    border-radius: 5px;
}

input:focus, textarea:focus {
    outline: 1.5px solid #1517ac;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
}

form h3 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: #ff5361;
    color: aliceblue;
    font-size: 18px;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}